html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    background: #4b2600;
    color: #fff5e1;
}

/* Navbar */
header {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #f8e7c0;
    font-weight: 500;
}

header nav .active {
    font-weight: 700;
}

/* Hero */
.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #f8e7c0;
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #ffedcf;
}

/* Motif */
.motif-bar img {
    width: 100%;
}

/* Subtext */
.subtitle {
    text-align: center;
    padding: 20px 30px;
    font-size: 1.1rem;
    color: #ffe8ca;
}

/* Contact Grid */
.contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 50px;
    gap: 30px;
    text-align: center;
}

.contact-list .icon {
    font-size: 35px;
    background: #e8c79e;
    color: #4b2600;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contact-list h3 {
    margin-top: 15px;
    color: #ffe9c7;
}

.contact-list p {
    font-size: 0.9rem;
    color: #ffe6be;
}

/* Map */
.map iframe {
    border: none;
}

/* Address */
.address {
    padding: 40px;
    text-align: center;
}

.address .icon-location {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fbe3c0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    font-size: 22px;
    color: #341700;
}

.address p {
    font-size: 1rem;
    color: #ffe6c6;
}



/* Footer */
footer {
    position: relative;
    overflow: hidden;
    background: #341700;
    padding: 50px 60px;
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background-image: url(Image/Footer.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    pointer-events: none;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    padding-left: 280px;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

footer a {
    display: block;
    text-decoration: none;
    color: #fbe3c0;
    margin: 5px 0;
    font-size: 0.95rem;
}

.copyright {
    text-align: right;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #ffe7c2;
}

.item a,
.item a:visited,
.item a:hover,
.item a:active {
  color: inherit;
  text-decoration: none;
}