* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    color: #fff;
    background-color: #fff;
}

/* NAVIGASI */
nav {
    background-color: #5b2c1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.logo {
    height: 55px;
    width: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

.lang-switch select {
    padding: 5px 8px;
    background: #ffcc00;
    color: #5b2c1e;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.contact-hero {
    background-color: #5b2c1e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.contact-content h1 {
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}

.garis-putih {
    width: 80%;
    height: 1.5px;
    border: none;
    background-color: #fff;
}

.contact-social {
    background: #5b2c1e;
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.contact-subtitle {
    max-width: 900px;
    margin: 0 auto 45px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.contact-row {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.contact-card {
    text-decoration: none;
    color: #F2E5D3;
    text-align: center;
    width: 150px;
}

.contact-card i {
    font-size: 34px;
    background: #F3D8B0;
    color: #63340D;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}

.contact-card h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0 5px;
}

.contact-card p {
    font-size: 14px;
    opacity: 0.9;
}

#lokasi {
  background-color: #5b2c1e;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.map-container {
  max-width: 900px;
  height: 400px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto; /* pastikan bisa digeser */
}

.alamat {
  margin-top: 30px;
}

.alamat .ikon {
  font-size: 40px;
  color: #f4c27f;
  margin-bottom: 10px;
}

.alamat p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}


/* Footer */
.footer {
    display: flex;
    background-color: #f2d6a2;
    color: #3e2f20;
}

.footer-left img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer-right {
    flex: 1;
    padding: 25px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
    font-size: 15px;
}

.footer-column ul li a {
    color: #3e2f20;
    text-decoration: none;
    transition: 0.3s;
}

.footer-column ul li a:hover {
    color: #a56a2f;
}

.footer-bottom {
    text-align: right;
    margin-top: 50px;
    font-size: 13px;
    color: #4a3a2a;
}