* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    color: #fff;
    background-color: #fff;
}

/* NAVIGASI */
nav {
    background-color: #5b2c1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

.logo {
    font-weight: bold;
    font-size: 1.3em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

.hero {
    background: #5b2c1e;
    text-align: center;
    padding: 100px 20px;
}

.hero h3 {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 100px;
    margin: 30px 0;
}

.hero p {
    margin-bottom: 30px;
    font-size: 25px;
}

.btn {
    background-color: #ffcc00;
    color: #5b2c1e;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.btn-outline {
    background: transparent;
    border: 2px solid #ffcc00;
    color: #ffcc00
}

.scroll-hint {
    margin-top: 60px;
    text-align: center;
}

.scroll-hint p {
    color: #ffcc00;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.scroll-down {
    display: inline-block;
    margin-top: 20px;
    font-size: 2em;
    color: #ffcc00;
    text-decoration: none;
    animation: bounce 1.5s infinite;
    transition: 0.3s;
}

.scroll-down:hover {
    color: #fff;
    transform: translateY(5px);
}

.section.light {
    background-color: #f9e7c8;
    color: #3b1e12;
}

#about {
    text-align: center;
    padding: 80px 60px;
}

#about h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.about-text {
    max-width: 500px;
    text-align: left;
}

.about-text p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: justify;
}

.about-image img {
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.icons {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-item span{
    font-size: 1.8em;
    margin-bottom: 5px;
}

.icon-item p {
    font-size: 0.9em;
    font-weight: 600;
}

.batik-manes {
    background-color: #5b2c1e;
    color: #f2d7b3;
    text-align: center;
    padding: 50px 20px;
}

.batik-manes h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.batik-manes h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 30px;
}

.batik-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.batik-images img {
    width: 45%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.batik-manes p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.koleksi-batik {
    background-color: #5b2c1e;
    color: #f2d7b3;
    text-align: center;
    padding: 80px 20px 60px;
}

.koleksi-batik h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.koleksi-batik h3 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: left;
}

.koleksi-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    justify-items: center;
    margin-bottom: 35px;
    margin: 0px 200px;
}

.koleksi-grid img {
    width: 95%; 
    max-width: 200px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}

.koleksi-grid img:hover {
    transform: scale(1.05);
}

.btn-gallery {
    margin-top: 35px;
    display: inline-block;
    background-color: #f2b705;
    color: #4b2600;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-gallery:hover {
    background-color: #ffca33;
}

.eduwisata {
    background-color: #f2d7b3;
    color: #4b2600;
    padding: 60px 20px;
}

.eduwisata-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.eduwisata-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.eduwisata-images img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.eduwisata-text {
    max-width: 500px;
}

.eduwisata-text h2 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}

.eduwisata-text p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.eduwisata-text ul {
    text-align: left;
    margin-bottom: 25px;
    line-height: 1.6;
    margin-left: 20px;
}

.btn-eduwisata {
    display: inline-block;
    background-color: #4b2600;
    color: #f2d7b3;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-eduwisata:hover {
    background-color: #6e3a00;
}